@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
}

#main_h1 {
    font-family: 'TheJamsil5Bold';
    font-weight: 1ssssss00;
}

main {
    margin: 130px auto 0 auto;
    width: 1530px;
    text-align: center;
}

main img {
    border: 1px solid black;
    width: 250px;
    border-radius: 100%;
}

main h1 {
    margin: 30px 0;
    font-size: 40px;
}


#desc {
    font-size: 30px;
}

#point {
    font-size: 30px;
}

#point_value {
    color: blue;
}
